<%# <script src="http://localhost:1337/app.js"> %>
<div id="main"></div>

<script src="https://d2zqkspf1zsndd.cloudfront.net/main.1bed34a09fbce9897e92.js"></script>
<script>
    window.addEventListener('load', () => {
        console.log('hey');
        window.injectedData = JSON.parse(`<%= Submission.last.as_json %>`);
        const main = document.getElementById('main');
        const element = React.createElement(FormMain);
        ReactDOM.render(element, main);
    });
</script>
