<p><a></a></p>
<h1></h1>

<style>
input {
    width: 400px;
}
textarea {
    width: 300px;
}
</style>

<script>
    (() => {
    window.addEventListener('load', () => {
        const u = '<%= SecureRandom.uuid.to_s %>';
        submit(u);

        const button = document.querySelector('button');
        button.onclick = (e) => {
            const input = document.querySelector('input');
            submit(input.value);
        };
    });

    const getLink = (input) => {
        return 'https://ryc.fund/receipt?merchant_id=' + input;
    }

    const submit = id => {
        const anchor = document.querySelector('a');
        const link = getLink(id);
        anchor.innerHTML = link;
        anchor.href = link;

        document.querySelector('h1').innerHTML = id;
    }

    })();

</script>
